<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="./img/about.jpg" alt="display" class="img-fluid" title="weather">
                </figure>
            </div>

            <div class="col-md-10 col-12 mx-auto">
            
            <h3 class="col-md-6 col-12 main_header_left">
            <h3>Welcome TO Weather App</h3>
            <h1>I Am A <span class="text-clr"> Mern stack developer </span> Youtuber And A Freelancer</h1>
            <a href="https://www.thapatechnical.com/" target="_thapa"><button class="btn">About Me</button></a></h3>
            </div>

            
            </div>
        </div>
        {{>footer}}
    </div>
</body>
</html>