<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

            <div class="main-content">
            <from class="temp_from">
                <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </from>
            </div>

           <div class="tempInformation">
               <div class="top_layer">
                   <p id="day">Tuesday</p>
                   <p id="date">8 FEB</p>
               </div>
               <div class="main_layer"> 
                   <p id="city">Get Output Here</p>
                   <div class="middle_layer data_hide">
                    <p id="temp"><span>0</span> <sup>0</sup>C</p>
                    <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                   </div>
               </div>

           </div>
            </div>
            </div>
            </div>
            {{>footer}}

        <script src="js/main.js"></script>
</body>
</html>
